p {
  font-family: Articulat, Sans-serif, Arial;
  font-weight: 900;
}

body {
  background-color: #0c0c0d;
}

h1 {
  font-family: Articulat, Sans-serif, Arial;
  font-weight: 300;
  font-size: 156px;
  letter-spacing: -0.02em;
  line-height: 77%;
  color: white;
}

h2 {
}

h3 {
}
