@font-face {
  font-family: 'ArticulatLight';
  src: url(../fonts/ArticulatCF-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: 'ArticulatLightOblique';
  src: url(../fonts/ArticulatCF-LightOblique.otf);
  font-weight: 300;
}

@font-face {
  font-family: 'ArticulatNormal';
  src: url(../fonts/ArticulatCF-Normal.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'ArticulatMedium';
  src: url(../fonts/ArticulatCF-Medium.otf);
  font-weight: 400;
}
